syntax: glob
.project
.classpath
pom.xml.versionsBackup
rebel.xml
target
.settings
.externalToolBuilders
*.orig
\.orig\..*$
\.orig$
\.chg\..*$
\.rej$
\.conflict\~$
.DS_Store
*.ipr
*.iml
*.iws
.idea
*MANIFEST.MF
work
_build
glob:.metadata/**
**/*segments.gen
**/segments_1
**/${project.build.directory}/**
**/${project.build.directory}/**
*Thumbs.db
atlassian-ide-plugin.xml
