#if (${hasErrorMessages})
	#foreach ($error in $action.getErrorMessages())
		#if("NOT_LOGGED_IN" == $error)
			$action.doRedirect()
		#end
	#end
#end
	## ------------------------ ##
	## -- MESSAGES D'ERREURS -- ##
	## ------------------------ ##
    
	#if (${hasErrorMessages})
	<html>
    <head>
        <title>${i18n.getText("com.atosworldline.jira.plugins.valuesync.error.title")}</title>
        <meta content="admin" name="decorator" />
    </head>  
  	<body>
		<br/>

    <table align="center" bgcolor="#bbbbbb" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
				<table border="0" cellpadding="3" cellspacing="1" width="100%">
					<tbody>
						<tr>
							<td bgcolor="#f0f0f0">
							    <h3 class="formtitle">${i18n.getText("com.atosworldline.jira.plugins.valuesync.error.title")}</h3>
						    </td>
						</tr>
						<tr bgcolor="#ffffff"><td class="jiraformbody" >
							<p>${i18n.getText("com.atosworldline.jira.plugins.valuesync.error.intro")}</p>	
							#foreach ($error in $action.getErrorMessages())
							<p class="notify warn" style="margin:0 40px 0 40px;">
					    		## ${error} - 
					    		${i18n.getText("com.atosworldline.jira.plugins.valuesync.error.${error}")}
							</p>
					    	#end
					    	<br/>
		    			</td></tr>
			  		</tbody>
		  		</table>
	    </td></tr>
	</table>
	#else
	
	## --------------------------- ##
	## -- PAGE DE CONFIGURATION -- ##
	## --------------------------- ##
<html>
    <head>
        <title>${i18n.getText("com.atosworldline.jira.plugins.valuesync.admin.title")}</title>
        <meta content="admin" name="decorator" />
     <style type="text/css">
        .on{
            color: #090;
            font-weight:bold;}
        .off{
            color: #900;
            font-weight:bold;}
    </style>
    </head>  
    <body>
    <br/>
	
	<p></p>
		
		<table align="center" bgcolor="#bbbbbb" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td>
					## -------------------------- ##
					## -- PARAMETRES DU MODULE -- ##
					## -------------------------- ##
					<table border="0" cellpadding="3" cellspacing="1" width="100%">
						<tbody>
							<tr>
    							<td colspan="5" bgcolor="#f0f0f0">
								    <h3 class="formtitle">${i18n.getText("com.atosworldline.jira.plugins.valuesync.admin.view.module.title")}</h3>
								    <p class="wrapping">${i18n.getText("com.atosworldline.jira.plugins.valuesync.admin.view.module.info")}</p>
							    </td>
							</tr>
							
							<tr bgcolor="#f0f0f0">
								<td valign="top" width="15%"><b>${i18n.getText("com.atosworldline.jira.plugins.valuesync.admin.view.module.project")}</b></td>
								<td valign="top" width="15%"><b>${i18n.getText("com.atosworldline.jira.plugins.valuesync.admin.view.module.field")}</b></td>
								<td valign="top" width="40%"><b>${i18n.getText("com.atosworldline.jira.plugins.valuesync.admin.view.module.operator")}</b></td>
								<td valign="top" width="30%"><b>${i18n.getText("com.atosworldline.jira.plugins.valuesync.admin.view.module.valuetocompare")}</b></td>
								<td valign="top" width="30%"><b>${i18n.getText("com.atosworldline.jira.plugins.valuesync.admin.view.module.actiontodo")}</b></td>
								<td valign="top" width="30%"><b>${i18n.getText("com.atosworldline.jira.plugins.valuesync.admin.view.module.fieldtoupdate")}</b></td>
								<td valign="top" width="30%"><b>${i18n.getText("com.atosworldline.jira.plugins.valuesync.admin.view.module.updatedfieldvalue")}</b></td>
							</tr>
							
							#foreach ($config in $action.configurations)
							#if ($velocityCount%2==0) <tr bgcolor="#ffffff">
							#else <tr bgcolor="#fffff0"> #end
								##<td valign="top" ><a href="${req.contextPath}/browse/${config.project}">$config.project</a></td>
								<td valign="top" >$action.getProjet($config.project)</td>
								<td valign="top" >$config.field</td>
								<td valign="top" >$config.operator</td>								
								<td valign="top" >$config.valueToCompare</td>
								<td valign="top" >$config.actionToDo</td>
								<td valign="top" >$config.fieldToUpdate</td>
								<td valign="top" >$config.updatedFieldValue</td>
							</tr>
							#end
						</tbody>
					</table>
				</td>
			</tr>
	</table>
	
	## ------------------------- ##
	## -- BOUTON MODE EDITION -- ##
	## ------------------------- ##
	<p>
	<table align="center" bgcolor="#bbbbbb" border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td>
	<table border="0" cellpadding="3" cellspacing="1" width=100%>
		<tr bgcolor="#f0f0f0">
			<td class="colHeaderLink" colspan="2" align="center">
				<a href="EditPluginProperties!default.jspa"><b>${i18n.getText("com.atosworldline.jira.plugins.valuesync.admin.view.button.edition")}</b></a>
			</td>
		</tr>
	</table>
	</td></tr></table>
	</p>

#end
	</body>
</html>